strict-peer-dependencies=false
auto-install-peers=true
lockfile=true

# fix pnpm install by https://github.com/expo/expo/issues/27312#issuecomment-1981103470
node-linker=hoisted

# registry=https://registry.npm.taobao.org
registry=https://registry.npmjs.org

public-hoist-pattern[]=*changelog*
public-hoist-pattern[]=*commitlint*
public-hoist-pattern[]=*eslint*
public-hoist-pattern[]=*prettier*
public-hoist-pattern[]=*semantic-release*
